  body {
    background-color: black;
  }
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color:white;
    text-align: center;
  }
  p {
    color:white;
    text-align: center;
  }
  
  .image {
    width: 50%;
    margin-right: 25%;
    margin-top: 100px;
    color: white;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
  }
  
  .Motivation {
    border: 5px solid white;
    width: 20%;
    height: 40%;
    margin-left: 40%;
  }
  